<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="meleshko.com.ideaintechtask1">

    <application
        android:name=".utils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.HelpActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.WelcomActivity"
            android:theme="@style/AppThemeNoBar">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.InviteFriendsActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.RealmBdActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.UserActivity">
        </activity>
        <activity
            android:name=".ui.activities2.MainActivity"
            android:theme="@style/AppThemeNoBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities2.HelpMenuActivity">
        </activity>
        <activity android:name=".ui.activities2.ChatSettingsActivity">
        </activity>
        <activity android:name=".ui.activities2.ContactUsActivity">
        </activity>
        <activity android:name=".ui.activities2.TermsAndConditionsActivity">
        </activity>
        <activity android:name=".ui.activities2.FaqActivity">
        </activity>
        <activity android:name=".ui.activities2.SelectCountryActivity">
        </activity>
    </application>

</manifest>